<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login/Registro</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    body {
      min-height: 100vh;
      margin: 0;
      background: linear-gradient(90deg, #270202, #760909);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card {
      width: 350px;
      background-color: #270202;
    }
    .form-label {
      color: white;
    }

    h3{
      color: white;
    }


  </style>

  <script>
    function toggleForms(){
      let form_login = document.getElementById('formLogin'),
          form_register = document.getElementById('formRegister');
      if(form_register.style.display === 'none'){
        form_login.style.display = 'none';
        form_register.style.display = 'block';
      } else {
        form_login.style.display = 'block';
        form_register.style.display = 'none';
      }
    }
  </script>
</head>
<body>

  <div class="card shadow p-4 rounded-3">

    <form id="formLogin" class="text-center" action="./P01_home.html" method="get" style="display:block;">
    <h3 class="mb-4">Iniciar Sesión</h3>
    
    <div class="mb-3 w-100 text-start">
        <label for="usuario_login" class="form-label">Usuario</label>
        <input type="text" id="usuario_login" name="usuario_login" class="form-control">
    </div>
    
    <div class="mb-3 w-100 text-start">
        <label for="password_login" class="form-label">Contraseña</label>
        <input type="password" id="password_login" name="password_login" class="form-control" required minlength="8">
    </div>

    <div class="mb-3 w-100 text-start">
        <label for="liga_login" class="form-label">Codigo de liga</label>
        <input type="text" id="liga_login" name="liga_login" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-primary mt-2" style="height:50px; font-size:16px; width:200px;">
        Ingresar
    </button>
    
    <div class="mt-4">
        <p class="mb-2" style="color:white">¿Eres nuevo por aquí?</p>
        <button type="button" class="btn btn-outline-warning" style="width:200px; height:50px; font-size:16px;" onclick="toggleForms('login', 'register')">
            Registrarme
        </button>
    </div>
</form>

    <form id="formRegister" class="text-center" action="./registro_capitan.php" method="post" style="display:none;">
    
    <h3 class="mb-4">Registro de Capitán</h3>
    
    <div class="mb-3 w-100 text-start">
        <label for="nombre_capitan" class="form-label">Nombre de Usuario</label>
        <input type="text" id="nombre_capitan" name="nombre_capitan" class="form-control">
    </div>
    
    <div class="mb-3 w-100 text-start">
        <label for="email_capitan" class="form-label">Email</label>
        <input type="email" id="email_capitan" name="email_capitan" class="form-control">
    </div>
    
    <div class="mb-3 w-100 text-start">
        <label for="password_capitan" class="form-label">Contraseña</label>
        <input type="password" id="password_capitan" name="password_capitan" class="form-control" required minlength="6">
        <div class="form-text text-start"></div>
    </div>

    <div class="mb-3 w-100 text-start">
        <label for="confirm_password_capitan" class="form-label">Confirmar Contraseña</label>
        <input type="password" id="confirm_password_capitan" name="confirm_password_capitan" class="form-control" required minlength="6">
        <div id="passwordHelp" class="form-text text-start"></div>
    </div>
    
    <button type="submit" class="btn btn-success mt-3" style="height:50px; font-size:16px; width:200px;">
        Crear Cuenta
    </button>
    
    <div class="mt-4">
        <button type="button" class="btn btn-link" onclick="toggleForms('register', 'login')">
            Ya tengo una cuenta
        </button>
    </div>
</form>

  </div>

</body>
</html>
